# Build outputs
**/bin/
**/obj/
**/dist/
**/coverage/
**/.angular/

# Dependencies
**/node_modules/

# Git / IDE
.git/
.gitignore
.idea/
.vscode/
*.user

# Logs & local
**/*.log
.env
.env.*

# Tests / docs (optional shrink)
**/e2e/
